# Segmenting and Clustering Neighborhoods 
## Part 1 - Obtaining the Data

In [1]:
import pandas as pd
import urllib.request as ur
from html_table_parser import HTMLTableParser #Source code: https://github.com/schmijos/html-table-parser-python3

In [2]:
nb = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

req = ur.Request(url=nb)
f = ur.urlopen(req)
xhtml = f.read().decode('utf-8')

p = HTMLTableParser()
p.feed(xhtml)

In [3]:
table_list = p.tables

nbhoods = pd.DataFrame.from_dict(table_list[0])
nbhoods.rename(columns={0:'Postcode',1:'Borough',2:'Neighborhood'}, inplace=True)
nbhoods.drop(index=0, inplace=True)
nbhoods[0:5]

  Postcode           Borough      Neighborhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [4]:
nbhoods = nbhoods[nbhoods.Borough != 'Not assigned']
nbhoods[0:5]

  Postcode           Borough      Neighborhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

In [5]:
nbhoods.loc[nbhoods['Neighborhood'] == 'Not assigned']

  Postcode       Borough  Neighborhood
9      M7A  Queen's Park  Not assigned

In [6]:
nbhoods = nbhoods.replace('Not assigned', 'Queen\'s Park')
nbhoods[0:8]

   Postcode           Borough      Neighborhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Queen's Park
11      M9A         Etobicoke  Islington Avenue

In [7]:
nbhoods = nbhoods.groupby(['Postcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
nbhoods[0:8]

  Postcode      Borough                                 Neighborhood
0      M1B  Scarborough                               Rouge, Malvern
1      M1C  Scarborough       Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough            Guildwood, Morningside, West Hill
3      M1G  Scarborough                                       Woburn
4      M1H  Scarborough                                    Cedarbrae
5      M1J  Scarborough                          Scarborough Village
6      M1K  Scarborough  East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough              Clairlea, Golden Mile, Oakridge

In [14]:
nbhoods.shape

(103, 3)